/* Toggle Switch Styles */
.theme-toggle {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.toggle-checkbox {
  display: none;
}

.toggle-label {
  display: block;
  width: 50px;
  height: 24px;
  background-color: #ccc;
  border-radius: 12px;
  position: relative;
  cursor: pointer;
}

/* style for toogle button design */
/* .toggle-checkbox:checked + .toggle-label {
    background-color: #333;
  }
  
  .toggle-checkbox:checked + .toggle-label:before {
    transform: translateX(26px); 
    left: 26px;
  }
   */

/* Dark Mode Styles */
body.dark-mode {
  background-color: #ffffff;
  color: #000000;
}
span.dark-mode{
  background-color: #ffffff;
  color: #000000;
}
/* Dark theme styles */
nav.dark-mode {
    background-color: #ffffff; /* Dark background color */
    color: #000000; /* Light text color */
}